<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col footertext">
                <p>Powered by Express</p>
            </div>
        </div>
    </div>
</div>
<style>
    .footertext{
        margin-top: 100px;
        color:white;
        text-align: center;
    }
</style>