<html>
    <head>
        <title>signin</title>
    </head>
    <body>
    <form action="http://localhost:3000/users/signin" method="post">
        <label for="name">账号</label>
        <input type="text" id="name" name="name">
        <label for="password">密码</label>
        <input type="password" id="password" name="password">
        <button type="submit">提交</button>
    </form>
    </body>
</html>